.h1 {
  font-size: 80px;
  font-family: "serif";
  color: #ddd;
}

.h2 {
  font-family: "serif";
  color: #ddd;
}

html,
body,
ul,
ol,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN W3", sans-serif;
  padding-top: 60px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper {
  position: relative;
  padding: 0 0 100px 0;
  background-image: image-url("company.jpg");
  background-size: cover;
  margin: 0;
  height: 500px;
}
@media screen and (max-width: 700px) {
  .top-wrapper {
    height: 300px;
    width:100%;
  }


}

.container {
  width: auto;
  margin: 0 auto;
}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 15px;
}
.subTitle2 {
  position: absolute;
  top: 50%;
}
p {
  font-size:16px;
  top: 45%;
}

.btn:hover {
  opacity: 1;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.service-wrapper {
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}

.container {
  margin-right: 100px !important;
  margin-left: 100px !important;
  height:auto;
}

.heading {
  padding-top: 0px;
  padding-bottom: 10px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.detail {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 5px !important;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  text-align: center;
}

.message {
  padding: 15px 40px;

  cursor: pointer;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.mb-5 {
  margin: auto 0 auto 0;
}

.imageSize {
  width: 350px !important;
  height: 246px !important;
}

.mt10 {
  margin-top: 10%;
}

.mt20 {
  margin-top: 20%;
}

.topTitle {
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 500px) {
  .topTitle {
    top: 5%;
    font-size: 30px;
    width: 200px;
    left:5%;
  }
  .subTitle2{
    left:5%;
  }

}


.signIn {
  position: absolute;
  top: 80%;
  left: 15%;
  color: white !important;
}

.logIn {
  position: absolute;
  top: 80%;
  left: 23%;
  color: white !important;
}

.canSearch {
  margin-left: 20%;
  margin-top: 3%;
  padding-top: 5%;
}
.canChat {
  margin-left: 20%;
  margin-top: 3%;
  padding-top: 5%;
}
.searchImage {
  margin-left: 55%;
}

@media screen and (min-width: 800px) {
.companyImage {
  width: 400px !important;
  height: 300px !important;
  }
}

@media screen and (max-width: 500px) {
  .companyImage {
    width: 100px;
    height: 100px;
  }
}



@media screen and (max-width: 900px) {

  .service-wrapper {
    height: 1200px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .detail {
    position: relative;
    float: left;
    width: 25%;
    margin-left: 0 !important;
  }

  .companyNewForm {
    position: absolute;
    left: 1%;
    color: white !important;
    //margin-left: 10px;
  }

  .companyNew {
    top: 4000%;
    position: relative;
    //left: 1%;
  }


  .logIn {
    position: absolute;
    top: 90%;
    left: 25%;
    color: white !important;
  }
}