$facebook-color:#3b5998;
$google-color:#ea4335;

h1 {
    font-size:80px ;
    font-family: "serif";
    color:#ddd;
    font-weight: 800;
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
  }

  h1:before{
    content: "";
    position: absolute;
    background: $google-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }
  h2 {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
    font-weight: bold;
    border-bottom: dashed 2px #6B63FF;
    margin-bottom:20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  h2:before{
    content: "";
    position: absolute;
    background-color: #F38076;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: 400px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }
  h2.title-red {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
    font-weight: bold;
    margin-bottom:20px;
    padding-top: 40px;
  }


  h2.title-red:before{
    content: "";
    position: absolute;
    background-color: #F38076;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 70%;
    /* border: dashed 1px white; */
    left: 360px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }


  html, body,
  ul, ol, li,
  h1, p, div {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    padding-top: 60px;
  }


  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .welcome-wrapper {
    padding: 180px 0 100px 0;
    //background-image: image-url('phone.jpg');
    //@extend: cover;
    margin:0;
    height:550px;
  }

  @media screen and (min-width: 301px) {
    .welcome-wrapper {
    background-image: image-url('phone.jpg');
    background-size: cover;
    }
  }

  @media screen and (max-width: 500px) {
    .subTitle {
    background-image: image-url('phone.jpg');
    background-size:300px;
    height:200px;
    }
    .topTitle1 {
    margin-top:-15%;
    }
  }


  .welcome-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
  }

  .welcome-wrapper p {
    opacity: 0.7;
    margin-bottom: 15px;
  }

  .btn:hover {
    opacity: 1;
  }
  .header-left {
    float: left;
  }

  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }

  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }

  .service-wrapper {
    height: 400px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .container{
    margin-right:100px!important;
    margin-left:100px!important;
  }

  .heading {
    padding-bottom: 0px;
    color: #5f5d60;
    text-align: center;
  }


  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
  }

  // .heading h3 {
  //   font-weight: normal;
  // }

  // .heading h2 {
  //   //margin: 0 auto;
  //   padding-top: 40px;
  //   font-weight: normal;
  // }
  // .heading p {
  //   padding-top: 40px;
  // }

  .message-wrapper {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
  }


  .message {
    padding: 15px 40px;
    cursor: pointer;
  }

  .registration{
    margin-top: 70px;
    //padding-top:0;
    color: #5f5d60;
    text-align: center;
    margin-right: 50px;
  }

  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .mb-5{
    margin:auto 0 auto 0;
  }

.imageSize {
  width: 350px !important;
  height: 246px !important;
}

.mt10 {
  margin-top: 5%;
  position: relative;
  color: white;
  background:lighten($facebook-color,20%);
  line-height: 1.4;
  padding: 0.5em 0.5em 0.5em 1.8em;
}

.mt10:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  position: absolute;
  left : 0.5em;
}

.mt20 {
  margin-top: 5%;
  //margin-bottom: 0px;
}

.topTitle1 {
  position: absolute;
  top: 30%;
}

.subTitle {
  position: absolute;
  top: 45%;
}
p {
  font-size:16px;
}


.signIn {
  position: absolute;
  top: 80%;
  left: 20%;
}


.homeGoogleLogo {
  position: absolute;
  left: 14%;
  top: 55%;
  display: flex;
  width: 300px;
  margin-top: 120px;
}

.homeGoogle {
  position: absolute;
  left: 1%;
  //top: 300%;
  background-color: #ea4335;
  color: #000000;
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  border-radius: 16px;
}

.homeGoogle:hover {
  text-decoration: none;
  color: #5f5d60;
}

@media screen and (max-width: 900px) {
  .consultation {
    flex: none !important;
    max-width: none !important;
  }
  .nominate {
    margin-top: 70px;
    flex: none !important;
    max-width: none !important;
  }
  .free {
    margin-top: 70px;
    flex: none !important;
    max-width: none !important;
  }

  .service-wrapper {
    height: 1200px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .detail {
    position: relative;
    float: left;
    width: 25%;
    margin-left: 0 !important;
  }
}

.subtitle{
  color:white;
  font-size:12px;
  font-weight: bold;
}