.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-heading {
  margin-top:30px;
  background-color: #3b5998;
  height: 60px;
  border-radius: 5px;
  color:white;
}

.panel-body
{
    overflow-y: scroll;
    //height: 500px;
}

  .message-box{
    position: relative;
    padding: 20px;
    background-color:#cde5ff;
    border: 2px solid#cde5ff;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .message-box::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #cde5ff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .message-box::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -12px;
    top: 20px;
    border-right: 15px solid #cde5ff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .message-box2 {
    position: relative;
    padding: 20px;
    background-color:#FDCCCC;
    border: 2px solid #FDCCCC;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .message-box2::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -15px;
    top: 20px;
    border-right: 15px solid #FDCCCC;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .message-box2::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -12px;
    top: 20px;
    border-right: 15px solid #FDCCCC;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }


  .message-box .message-box2 p {
    margin: 0;
    padding: 0;
  }


.chat-footer {

  bottom: 0;
}
.card-body-chat{
  height:auto;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}