body {
  padding-top: 60px; 
}

.field{
  text-align:  center;   
}
.must {
	background: #FF1A00;
	color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 10px;
	letter-spacing: 0.2em;
}