.container{
  position: relative;
 
}

#footer{
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  position:fixed;
  margin-top:auto;
}