<div class='fixed-top'>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom shadow">
    <a class="navbar-brand" href="/"><i class="far fa-id-card"></i>  ゴシメイ！</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">-エージェントを検索しよう-</a>
        </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user),class:"nav-link" %>
        <% end %>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
      <div class="btn">
      <%= form_tag(search_path, :method => 'get') do %>
      <%= select_tag(:option, options_for_select([["エージェントから検索", "1"],["投稿から検索","2"]]))%>
        <div class="input-group">
          <%= text_field_tag :search,'' ,placeholder:"フリーワードで検索..."%>
          <span class="input-group-btn">
            <button type="submit"><i class="fas fa-search"></i></button>
          </span>
          <% end %>
        </div>
    </div>
      </form>
    </div>
  </nav>
</div>
