<div class='fixed-top'>
  <div class="d-sm-flex flex-column flex-md-row p-2 bg-white border-bottom shadow ">

    <a class="nav-logo my-0 mr-md-auto font-weight-normal" href="/"><font color="#000000"><i class="far fa-id-card"></i>ゴシメイ！</a>

      <% if user_signed_in? %>
      <%= link_to "マイページ", "/users/#{current_user.id}", class:"btn btn-outline-secondary" %>
        <% end %>
    <div class="btn">
      <%= form_tag(search_path, :method => 'get') do %>
      <%= select_tag(:option, options_for_select([["エージェントから検索", "1"],["投稿から検索","2"]]))%>
        <div class="input-group">
          <%= text_field_tag :search,'' ,placeholder:"フリーワードを入力"%>
          <span class="input-group-btn">
            <button type="submit"><i class="fas fa-search"></i></button>
          </span>
          <% end %>
        </div>
    </div>
  </div>
  </div>
