<div class='fixed-top'>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <a class="logo my-0 mr-md-auto font-weight-normal" href="/"><font color="#000000"><i class="far fa-id-card"></i>ゴシメイ！</a>

      <nav class="my-2 my-md-0 mr-md-3">
      <% if user_signed_in? %>
      <%= link_to "マイページ", "/users/#{current_user.id}", class:"btn btn-dark" %>
        <% end %>
      <a class="btn btn-dark" href="/contacts/new">お問い合わせ</a>
      <a class="btn btn-dark" href="/posts">エージェントを探してみる</a>
<% unless current_page?(companies_home_path) %>
<a class="btn btn-dark" href="/pages/company_home">企業様はこちら</a>

<% end %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
          <% if user_signed_in? %>
            <%#= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
            <%= link_to "トップページ", root_path, class: "btn btn-primary" %>
          <% end %>
      </ul>
      </div>
      </nav>
    </div>
  </div>
  </div>
