<h1>ゴシメイ！</h1>

<% provide(:title, "TopPage") %>
<html>
<header>
    
</header>
  
   <body>

<p>最良のパートナーを、見つけよう。</p>


<% #<img src="/assets/toppage.jpeg" alt="" >%>

<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
<div class = "top_image">
      <%= image_tag 'toppage.jpeg', size: "1000x550" %>
  
  <% if user_signed_in? %>
  <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
  <% end %> 
     <!--  render 'shared/feed' %>-->
    </div>


</body>
</html>

