<% provide(:title, "エージェントをゴシメイする") %>



 <div class="row">
    <% @posts.each do |post| %>
      <div class="col-mb-3">
      
        <div class="card">
          <%#img class="card-img-top" src="images/notepc-wp.jpeg" alt="ライトコースのイメージ画像"%>
          <div class="card-body text-center">
            <h4 class="card-title"><%=post.title %></h4>
            <p class="card-text"><%=post.contents %></p>
            <a href="#" class="btn btn-primary">詳細を見る</a>
          </div>
        </div>
      </div>
    <%end%>
      

