<% provide(:full_title, "検索結果") %>

<section class="search">
    <div class="panel-heading text-center">
        <h2>検索結果</h2>
    </div>
</section>

<section class="py5 bg-light">
    <div class="row",id="searchRow">
        <% if @company_or_post == "1"%>
            <% @companies.each do |company| %>
                <div class="col-xs-12 col-sm-10 col-md-4" id="cardPostIndex">
			<div class="card" id="cardIndex">
				<header class="title-header">
					<h3><%= company.name %></h3>
				</header>
                    <div class="card-body">
				        <div class="img-card">
                        <p class="tagline card-text text-xs-center"> <strong><%= company.name %></strong></p>
                <%= image_tag company.profile_photo.url(:thumb),class:"rounded-circle",size:"50x50"%>
                <%#= company.post.title %>
					</div>
				</div>
        <%= link_to company_path(company),class:"btn btn-facebook btn-block" do %>
            <i class="fas fa-search-plus"></i>エージェントの詳細をチェック
        <% end %>
        </div>
		</div>
    <% end %>

    <% end %>
    </div>
</section>
