.profile-form-wrap {
    background: #fff;
    padding: 5px;
    border: 1px solid #e6e6e6;
    text-align: center!important;
    font-size: 20px;
  }
  
  .profile-form-wrap label {
    font-weight: bold;
  }
  
  .edit-profile-wrapper {
    margin-top: 60px;
    text-align: center!important;
  }

  .form-group {
   margin-bottom:1px;
   margin-top:1px;
   padding-top:1px;
   padding-bottom:1px;
  }

  