body {
  padding-top: 60px;
}

.field{
  text-align:  center;
}

.terms {
  padding:30px;
}


.GoogleLogo {
  position: absolute;
  left: 37%;
  top: 80%;
  display: flex;
  width: 300px;
  margin-top: 100px;
}

.google {
  position: absolute;
  left: 1%;
  top: 100%;
  background-color: #ff8181;
  color: #000000;
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  border-radius: 16px;
}
.google:hover {
  text-decoration: none;
  color: #5f5d60;
}
