  .profile {
    width: 100%;
  }

  .profile .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .profile-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .btn-google {
    color: white;
    background-color: #ea4335;
  }

  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  .setting {
    background-image: image-url("parts1.png");

    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: transparent;
    margin: 18px 0 0 10px;
    background-size: 22px!important;
    border: none;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 800px) {
  .mypage {
      margin-top: 30px;
    }
  }
